/* General styles */
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
		background-color:#FFFFFF;
		min-width:800px;    	/* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
		font-family:"Times New Roman", Times, serif;
	}
	a {
		color:#369;
	}
	a:hover {
		color:#fff;
		background:#369;
		text-decoration:none;
	}
	h1, h2, h3 {
		margin:.8em 0 .2em 0;
		padding:0;
	}
	p {
		margin:10px 15px 0 15px;
		padding:0;
		}
	.floatLeft { 
		float: left; 
		margin-right: 10px; 
	}
	.floatRight { 
		float: right; 
		margin: 10px 0 10px 20px; 
	}

	/* Header styles */
	#header {
		clear:both;
		float:left;
		width:100%;
	}
	#header {	
		background-color:#CCCC99;
		border-bottom:4px solid gray;/*#003366;*/
		padding-bottom: 10px;	
		padding-top: 10px;
	}
	#header h1,
	#header h2 ,
	#header h3 {
		margin:0;
		padding-left: 20px;
		color:#003366;
		text-align:left;
	}
	#header h1 {
		color:#003366;
		font-size:3.6em;
	}
	#header h2 {
		color:#003366;
		font-size:1.4em;
	}
	#header h3 {
		color:#003366;
		font-size:1.2em;
	}
	/* nav */
	.navlist
	{
		padding: 0 1px 0;
		margin: 0 0 7px 0;
		font-weight: bold;
		background: #CCCCCC;
		/*width: 13em;*/
		border-bottom: 1px solid gray;
		border-right: 1px solid gray;
	}
	.navlist li
	{
		list-style: none;
		margin: 0;
		border-top: 1px solid gray;
		text-align: left;
	}
	.navlist li a
	{
		display: block;
		padding: 0.2em 0.5em 0.2em 0.75em;
		border-left: 1em solid #AAB;
		background: #CCCCCC;
		text-decoration: none;
	}
	.navlist li a:link { color: #003366; }
	.navlist li a:visited { color: #003366; }
	.navlist li a:hover
	{
		border-color: #990033;
		color: #FFF;
		background: #003366;
	}
	.col2 h3 {
		margin-top: 3px;
		border: 0;
		margin-bottom: 0;
		color: #003366;
	}
	#home a {
		text-decoration: none;
		/*background-color:#CCCC99;*/
		color:#990033;
		border: 1px solid gray;
		padding-left: 3px;
		padding-right: 3px;
	}
	#home a:hover {
		color:#fff;
		background:#369;
		text-decoration:none;
	}
	/* column container */
	.colmask {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 1em 0;
		overflow:hidden;
	}
	.col2 {
		/*border-left: 8px solid lightgray;*/
	}
	.signed {
		text-align: right;
		font-weight: bold;
	}
	.about {
		font-style: italic;
	}
	/* 2 Column (right menu) settings */
	.rightmenu {
		background:#CCCCCC;		/* right column background colour */
	}
	.rightmenu .colleft {
		right:25%;			/* right column width */
		background:#FFFFFF;		/* left column background colour */
	}
	.rightmenu .col1 {
		width:71%;			/* left column content width (left column width minus left and right padding) */
		left:27%;			/* (right column width) plus (left column left padding) */
	}
	.rightmenu .col2 {
		width:21%;			/* right column content width (right column width minus left and right padding) - changed from 21% LF */
		left:31%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
		border-top:2px solid lightgray;
	}
	#footer p {
		padding:10px;
		margin:0;
		text-align: center;
		color: gray;
		font-size: .8em;
	}
